<html>
    <head>
        <title>Blog Michała</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Noskowanki</a></h1>
        </div>

        <div>
            <p>published: 30.09.2025, 22:27</p>
            <h2><a href="">Wiadomść pierwsza do Paulix</a></h2>
            <p>Love you</p>
        </div>

        <div>
            <p>published: 30.09.2025, 22:27</p>
            <h2><a href="">Wiadomść druga</a></h2>
            <p>Idę spać</p>
        </div>
    </body>
</html>